:root{

    --Azul-meia-noite: #191970;
    --azul-magenta: #170db3;
    --amrelo-escuro-pantone: #665600;
    --flolha-de-ouro: #bd9b04;
    --branco: #fff;

    --familia-corpo: 'Roboto', sans-serif;

    --peso-titulo-destaque: 400;
    --peso-botao: 400;
    --peso-input: 100;

}